
* {
    border: 1px solid red;

}
.container{
    /* width: 90%; */
    /* margin: 10px; */
    /* position: inherit; */
    background-color: aqua;
    /* flex-wrap: wrap; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    transition: flex-direction 1s ;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.tittle {
    position: inherit;
    /* float: left; */
    width: 90%;
    padding: 10px;
    background-color: darkgoldenrod;
    /* align-items: center;
    justify-content: center; */
}
.content{
    width: 90%;
    padding: 10px;
    background-color: beige;
}
h1{
    text-align: center;
}

@media (min-width: 576px){

}

@media (orientation: landscape) {
    .container{
        flex-direction: row;
    }

    .tittle{
        width: 40%;

    }
    .content{
        width: 60%;
    }
}